/Catalogo.class
/SistemaSolar.class
/CorpoCelestial.class
/Estrela.class
/Planeta.class
/Lua.class
/CorpoPequeno.class
/CorpoArtificial.class
/Astro.class
/Natural.class
/Artificial.class
/Teste_Catalogo.class
/TesteCatalogo.class
/ValorAstro.class
